<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Iterates and waits until the result is returned in the shell output</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

target=3

#Loop starts
for a in 1 2 3 4 5
do
    # Condition starts
    if [ $a == $target ]
    then
      echo &quot;Skipping $target&quot;
      sleep 15
    else
      echo &quot;Loop Nº $a&quot;
    fi
done</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>