<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Stores the current time (AM/PM format) in a command line variable, prints it and store the result in a temporary directory when the job is executed.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>touch /tmp/timestamps.txt

TIME=$(date +&quot;%r&quot;)
echo &quot;The current time is $TIME&quot; &gt; /tmp/timestamps.txt

cat /tmp/timestamps.txt</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>